<html lang="en">

<head><script>(function(w,i,g){w[g]=w[g]||[];if(typeof w[g].push=='function')w[g].push(i)})
(window,'G-SEKJ4E9T4H','google_tags_first_party');</script><script async src="/s9cc/"></script>
			<script>
				window.dataLayer = window.dataLayer || [];
				function gtag(){dataLayer.push(arguments);}
				gtag('js', new Date());
				gtag('set', 'developer_id.dYzg1YT', true);
				gtag('config', 'G-SEKJ4E9T4H');
			</script>
			<meta name="robots" content="noindex, nofollow">
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link rel="dns-prefetch" href="https://cdnjs.cloudflare.com">
    <meta charset="UTF-8">
    <meta name="description" content="Ashion Template">
    <meta name="keywords" content="Ashion, unica, creative, html">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>FsiOo - Fashion E-commerce Template</title>

    <!-- Google Font -->
    <link href="https://fonts.googleapis.com/css2?family=Cookie&display=swap" rel="stylesheet" media="print" onload="this.media='all';this.onload=null;">
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@@400;500;600;700;800;900&display=swap" rel="stylesheet" media="print" onload="this.media='all';this.onload=null;">

    <!-- Css Styles -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@@5.3.8/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@@fortawesome/fontawesome-free@@7.1.0/css/all.min.css">
    <link rel="stylesheet" href="/css/elegant-icons.css" type="text/css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/glightbox@@3.2.0/dist/css/glightbox.min.css">
    <link rel="stylesheet" href="/css/style.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.0/css/all.min.css">
</head>
<script>
function scrollToTop() {
    window.scrollTo({
        top: 0,
        behavior: 'smooth'
    });
}
</script>
<body>
<script>(function(){try{var c=document.createElement("canvas");c.width=c.height=1;var s=c.toDataURL("image/webp").indexOf("webp")>0;document.documentElement.classList.add(s?"webp":"no-webp")}catch(e){document.documentElement.classList.add("no-webp")}})();</script>
    <!-- Page Preloder -->
    <div id="preloder">
        <div class="loader"></div>
    </div>
    <div class="offcanvas-menu-overlay"></div>
    <div class="offcanvas-menu-wrapper">
    <div class="offcanvas__close">
        <!-- <i class="fa-solid fa-xmark"></i> -->+
    </div>
    <ul class="offcanvas__widget">
        <li>
            <span class="search-switch">
                <i class="fa-solid fa-magnifying-glass"></i>
            </span>
        </li>

        <li>
            <a href="#">
                <i class="fa-regular fa-heart"></i>
                <div class="tip">2</div>
            </a>
        </li>

        <li>
            <a href="#">
                <i class="fa-solid fa-bag-shopping"></i>
                <div class="tip">2</div>
            </a>
        </li>
    </ul>
    <div class="offcanvas__logo">
        <a href="/Home/Index">
            <img src="/img/logo.png" alt="">
        </a>
    </div>
    <div id="mobile-menu-wrap"></div>
    <div class="offcanvas__auth">
        <a href="/Home/Login">Login</a>
        <a href="/Home/Signup">Register</a>
    </div>
</div>
    <!-- Offcanvas Menu End -->

    <!-- Header Section Begin -->
    <header class="header" role="banner">
        <div class="container-fluid">
            <div class="row">
                <div class="col-xl-3 col-lg-2">
                    <div class="header__logo">
                        <a href="/Home/Index"><img src="/img/logo.png" alt="Ashion Home" fetchpriority="high" decoding="sync"></a>
                    </div>
                </div>
                <div class="col-xl-6 col-lg-7">
                    <nav class="header__menu">
                        <ul>
                            <li class="active"><a href="/Home/Index">Home</a></li>
                            <li ><a href="/Home/Women">Women's</a></li>
                            <li><a href="/Home/Men">Men's</a></li>
                            <li><a href="/Home/Kids">Kid's</a></li>
                            <li><a href="/Home/Shop">Shop</a></li>
                            <li><a href="#">Pages</a>
                                <ul class="dropdown">
                                    <li><a href="/Home/ProductDetails">Product Details</a></li>
                                    <li><a href="/Home/ShopCart">Shop Cart</a></li>
                                    <li><a href="/Home/Checkout">Checkout</a></li>
                                    <!-- <li><a href="./blog-details.html">Blog Details</a></li> -->
                                </ul>
                            </li>
                            <!-- <li><a href="./blog.html">Blog</a></li> -->
                            <li><a href="/Home/Contact">Contact</a></li>
                        </ul>
                    </nav>
                </div>
                <div class="col-lg-3">
                    <div class="header__right">
                        <div class="header__right__auth">
                            <a href="/Home/Login">Login</a>
                            <a href="/Home/Signup">Register</a>
                        </div>
                        <ul class="header__right__widget">
                            <!-- <li><span class="icon_search search-switch"></span></li>
                            <li><a href="#"><span class="icon_heart_alt"></span>
                                <div class="tip">2</div>
                            </a></li>
                            <li><a href="#"><span class="icon_bag_alt"></span>
                                <div class="tip">2</div>
                            </a></li> -->
                            <ul class="header__right__widget">
                                <li>
                                    <a href="#" class="search-switch">
                                        <i class="fa-solid fa-magnifying-glass"></i>
                                    </a>
                                </li>
                                <li>
                                    <a href="#">
                                     <i class="fa-regular fa-heart"></i>
                                     <div class="tip">2</div>
                                    </a>
                                </li>
                                <li>
                                    <a href="#">
                                        <i class="fa-solid fa-bag-shopping"></i>
                                        <div class="tip">2</div>
                                    </a>
                                </li>
                            </ul>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="canvas__open">
                <i class="fa-solid fa-bars"></i>
            </div>
        </div>
    </header>
    <!-- Header Section End -->

    <!-- Categories Section Begin -->
    <section class="categories">
        <div class="container-fluid">
            <div class="row gx-4">
                <!-- <div class="row"> -->
                    <div class="col-lg-6 p-0">
                      <div class="categories__item categories__large__item set-bg"
                        data-setbg="/img/categories/category-6.jpg">
                        <div class="categories__text">
                            <h1>Men’s fashion</h1>
                            <p>358 items</p>
                            <a href="men.html">Shop now</a>
                        </div>
                      </div>
                    </div>
                <!-- <div class="col-lg-6">
                <div class="row">
                    <div class="col-lg-6 col-md-6 col-sm-6 p-0">
                        <div class="categories__item set-bg" data-setbg="/img/categories/category-1.jpg">
                            <div class="categories__text">
                                <h4>Women’s fashion</h4>
                                <p>358 items</p>
                                <a href="#">Shop now</a>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-6 col-md-6 col-sm-6 p-0">
                        <div class="categories__item set-bg" data-setbg="/img/categories/category-3.jpg">
                            <div class="categories__text">
                                <h4>Kid’s fashion</h4>
                                <p>273 items</p>
                                <a href="#">Shop now</a>
                            </div>
                        </div>
                    </div> -->
                    <!-- <div class="col-lg-6 col-md-6 col-sm-6 p-0">
                        <div class="categories__item set-bg" data-setbg="/img/categories/category-5.jpg">
                            <div class="categories__text">
                                <h4>Men's casual</h4>
                                <p>159 items</p>
                                <a href="#">Shop now</a>
                            </div>
                        </div>
                    </div> -->
                    <!-- <div class="col-lg-6 col-md-6 col-sm-6 p-0">
                        <div class="categories__item set-bg" data-setbg="/img/categories/category-5.jpg">
                            <div class="categories__text">
                                <h4>Accessories</h4>
                                <p>792 items</p>
                                <a href="#">Shop now</a>
                            </div>
                        </div>
                    </div> -->
                <!-- </div> -->
                <!-- </div> -->
                <div class="col-lg-6 p-0">
                  <div class="row g-0 h-100">
                    <div class="col-12 ">
                        <div class="categories__item set-bg"
                             data-setbg="/img/categories/category-1.jpg">
                            <div class="categories__text">
                                <h4>Women’s fashion</h4>
                                <p>358 items</p>
                                <a href="women.html">Shop now</a>
                            </div>
                        </div>
                    </div>
                    <div class="col-12 ">
                        <div class="categories__item set-bg"
                             data-setbg="/img/categories/category-3.jpg">
                            <div class="categories__text">
                                <h4>Kid’s fashion</h4>
                                <p>273 items</p>
                                <a href="kids.html">Shop now</a>
                            </div>
                        </div>
                    </div>
                  </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- Categories Section End -->

<!-- Product Section Begin -->
<section class="product spad">
    <div class="container">
        <div class="Nav1">
            <div class="row">
                <div class="col-lg-4 col-md-4">
                  <div class="section-title">
                    <h4>New product</h4>
                  </div>
                </div>
                <div class="col-lg-8 col-md-8">
                    <ul class="filter__controls">
                    <li class="active" data-filter="*">All</li>
                    <li data-filter=".women">Women’s</li>
                    <li data-filter=".men">Men’s</li>
                    <li data-filter=".kid">Kid’s</li>
                    <!-- <li data-filter=".accessories">Accessories</li>
                    <li data-filter=".cosmetic">Cosmetics</li> -->
                    </ul>
                </div>
            </div>
        </div>
        
        <div class="row property__gallery">
            <!-- <div class="col-lg-3 col-md-4 col-sm-6 mix women">
                <div class="product__item">
                    <div class="product__item__pic set-bg" data-setbg="/img/product/product-1.jpg">
                        <div class="label new">New</div>
                        <ul class="product__hover">
                            <li>
                                <a href="/Home/ProductDetails">
                                    <i class="fa-solid fa-eye"></i>
                                </a>
                            </li>
                            <li>
                                <a href="#">
                                    <i class="fa-regular fa-heart"></i>
                                </a>
                            </li>
                            <li>
                                <a href="#">
                                    <i class="fa-solid fa-bag-shopping"></i>
                                </a>
                            </li>
                        </ul>
                    </div>
                    <div class="product__item__text">
                        <h6><a href="/Home/ProductDetails">Buttons tweed blazer</a></h6>
                        <div class="rating">
                            <i class="fa-solid fa-star"></i>
                            <i class="fa-solid fa-star"></i>
                            <i class="fa-solid fa-star"></i>
                            <i class="fa-solid fa-star"></i>
                            <i class="fa-solid fa-star"></i>
                        </div>
                        <div class="product__price">$ 59.0</div>
                    </div>
                </div>
            </div> -->
            <div class="col-lg-3 col-md-4 col-sm-6 mix women">
                <div class="product__item">
                    <div class="product__item__pic set-bg" data-setbg="/img/shop/shop-1.jpg">
                        <div class="label new">New</div>
                        <ul class="product__hover">
                            <li>
                                <a href="/Home/ProductDetails">
                                    <i class="fa-solid fa-eye"></i>
                                </a>
                            </li>
                            <li>
                                <a href="#">
                                    <i class="fa-regular fa-heart"></i>
                                </a>
                            </li>
                            <li>
                                <a href="#">
                                    <i class="fa-solid fa-bag-shopping"></i>
                                </a>
                            </li>
                        </ul>
                    </div>
                    <div class="product__item__text">
                        <h6><a href="/Home/ProductDetails">Buttons tweed blazer</a></h6>
                        <div class="rating">
                            <i class="fa-solid fa-star"></i>
                            <i class="fa-solid fa-star"></i>
                            <i class="fa-solid fa-star"></i>
                            <i class="fa-solid fa-star"></i>
                            <i class="fa-solid fa-star"></i>
                        </div>
                        <div class="product__price">$ 59.0</div>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-4 col-sm-6 mix women">
                <div class="product__item">
                    <div class="product__item__pic set-bg" data-setbg="/img/shop/shop-2.jpg">
                        <div class="label new">New</div>
                        <ul class="product__hover">
                            <li>
                                <a href="/Home/ProductDetails">
                                    <i class="fa-solid fa-eye"></i>
                                </a>
                            </li>
                            <li>
                                <a href="#">
                                    <i class="fa-regular fa-heart"></i>
                                </a>
                            </li>
                            <li>
                                <a href="#">
                                    <i class="fa-solid fa-bag-shopping"></i>
                                </a>
                            </li>
                        </ul>
                    </div>
                    <div class="product__item__text">
                        <h6><a href="/Home/ProductDetails">Buttons tweed blazer</a></h6>
                        <div class="rating">
                            <i class="fa-solid fa-star"></i>
                            <i class="fa-solid fa-star"></i>
                            <i class="fa-solid fa-star"></i>
                            <i class="fa-solid fa-star"></i>
                            <i class="fa-solid fa-star"></i>
                        </div>
                        <div class="product__price">$ 59.0</div>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-4 col-sm-6 mix women">
                <div class="product__item">
                    <div class="product__item__pic set-bg" data-setbg="/img/shop/shop-3.jpg">
                        <div class="label new">New</div>
                        <ul class="product__hover">
                            <li>
                                <a href="/Home/ProductDetails">
                                    <i class="fa-solid fa-eye"></i>
                                </a>
                            </li>
                            <li>
                                <a href="#">
                                    <i class="fa-regular fa-heart"></i>
                                </a>
                            </li>
                            <li>
                                <a href="#">
                                    <i class="fa-solid fa-bag-shopping"></i>
                                </a>
                            </li>
                        </ul>
                    </div>
                    <div class="product__item__text">
                        <h6><a href="/Home/ProductDetails">Buttons tweed blazer</a></h6>
                        <div class="rating">
                            <i class="fa-solid fa-star"></i>
                            <i class="fa-solid fa-star"></i>
                            <i class="fa-solid fa-star"></i>
                            <i class="fa-solid fa-star"></i>
                            <i class="fa-solid fa-star"></i>
                        </div>
                        <div class="product__price">$ 59.0</div>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-4 col-sm-6 mix women">
                <div class="product__item">
                    <div class="product__item__pic set-bg" data-setbg="/img/shop/shop-4.jpg">
                        <div class="label new">New</div>
                        <ul class="product__hover">
                            <li>
                                <a href="/Home/ProductDetails">
                                    <i class="fa-solid fa-eye"></i>
                                </a>
                            </li>
                            <li>
                                <a href="#">
                                    <i class="fa-regular fa-heart"></i>
                                </a>
                            </li>
                            <li>
                                <a href="#">
                                    <i class="fa-solid fa-bag-shopping"></i>
                                </a>
                            </li>
                        </ul>
                    </div>
                    <div class="product__item__text">
                        <h6><a href="/Home/ProductDetails">Buttons tweed blazer</a></h6>
                        <div class="rating">
                            <i class="fa-solid fa-star"></i>
                            <i class="fa-solid fa-star"></i>
                            <i class="fa-solid fa-star"></i>
                            <i class="fa-solid fa-star"></i>
                            <i class="fa-solid fa-star"></i>
                        </div>
                        <div class="product__price">$ 59.0</div>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-4 col-sm-6 mix women">
                <div class="product__item">
                    <div class="product__item__pic set-bg" data-setbg="/img/shop/shop-5.jpg">
                        <div class="label new">New</div>
                        <ul class="product__hover">
                            <li>
                                <a href="/Home/ProductDetails">
                                    <i class="fa-solid fa-eye"></i>
                                </a>
                            </li>
                            <li>
                                <a href="#">
                                    <i class="fa-regular fa-heart"></i>
                                </a>
                            </li>
                            <li>
                                <a href="#">
                                    <i class="fa-solid fa-bag-shopping"></i>
                                </a>
                            </li>
                        </ul>
                    </div>
                    <div class="product__item__text">
                        <h6><a href="/Home/ProductDetails">Buttons tweed blazer</a></h6>
                        <div class="rating">
                            <i class="fa-solid fa-star"></i>
                            <i class="fa-solid fa-star"></i>
                            <i class="fa-solid fa-star"></i>
                            <i class="fa-solid fa-star"></i>
                            <i class="fa-solid fa-star"></i>
                        </div>
                        <div class="product__price">$ 59.0</div>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-4 col-sm-6 mix women">
                <div class="product__item">
                    <div class="product__item__pic set-bg" data-setbg="/img/shop/shop-6.jpg">
                        <div class="label new">New</div>
                        <ul class="product__hover">
                            <li>
                                <a href="/Home/ProductDetails">
                                    <i class="fa-solid fa-eye"></i>
                                </a>
                            </li>
                            <li>
                                <a href="#">
                                    <i class="fa-regular fa-heart"></i>
                                </a>
                            </li>
                            <li>
                                <a href="#">
                                    <i class="fa-solid fa-bag-shopping"></i>
                                </a>
                            </li>
                        </ul>
                    </div>
                    <div class="product__item__text">
                        <h6><a href="/Home/ProductDetails">Buttons tweed blazer</a></h6>
                        <div class="rating">
                            <i class="fa-solid fa-star"></i>
                            <i class="fa-solid fa-star"></i>
                            <i class="fa-solid fa-star"></i>
                            <i class="fa-solid fa-star"></i>
                            <i class="fa-solid fa-star"></i>
                        </div>
                        <div class="product__price">$ 59.0</div>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-4 col-sm-6 mix women">
                <div class="product__item">
                    <div class="product__item__pic set-bg" data-setbg="/img/shop/shop-7.jpg">
                        <div class="label new">New</div>
                        <ul class="product__hover">
                            <li>
                                <a href="/Home/ProductDetails">
                                    <i class="fa-solid fa-eye"></i>
                                </a>
                            </li>
                            <li>
                                <a href="#">
                                    <i class="fa-regular fa-heart"></i>
                                </a>
                            </li>
                            <li>
                                <a href="#">
                                    <i class="fa-solid fa-bag-shopping"></i>
                                </a>
                            </li>
                        </ul>
                    </div>
                    <div class="product__item__text">
                        <h6><a href="/Home/ProductDetails">Buttons tweed blazer</a></h6>
                        <div class="rating">
                            <i class="fa-solid fa-star"></i>
                            <i class="fa-solid fa-star"></i>
                            <i class="fa-solid fa-star"></i>
                            <i class="fa-solid fa-star"></i>
                            <i class="fa-solid fa-star"></i>
                        </div>
                        <div class="product__price">$ 59.0</div>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-4 col-sm-6 mix women">
                <div class="product__item">
                    <div class="product__item__pic set-bg" data-setbg="/img/shop/shop-8.jpg">
                        <div class="label new">New</div>
                        <ul class="product__hover">
                            <li>
                                <a href="/Home/ProductDetails">
                                    <i class="fa-solid fa-eye"></i>
                                </a>
                            </li>
                            <li>
                                <a href="#">
                                    <i class="fa-regular fa-heart"></i>
                                </a>
                            </li>
                            <li>
                                <a href="#">
                                    <i class="fa-solid fa-bag-shopping"></i>
                                </a>
                            </li>
                        </ul>
                    </div>
                    <div class="product__item__text">
                        <h6><a href="/Home/ProductDetails">Buttons tweed blazer</a></h6>
                        <div class="rating">
                            <i class="fa-solid fa-star"></i>
                            <i class="fa-solid fa-star"></i>
                            <i class="fa-solid fa-star"></i>
                            <i class="fa-solid fa-star"></i>
                            <i class="fa-solid fa-star"></i>
                        </div>
                        <div class="product__price">$ 59.0</div>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-4 col-sm-6 mix women">
                <div class="product__item">
                    <div class="product__item__pic set-bg" data-setbg="/img/shop/shop-9.jpg">
                        <div class="label new">New</div>
                        <ul class="product__hover">
                            <li>
                                <a href="/Home/ProductDetails">
                                    <i class="fa-solid fa-eye"></i>
                                </a>
                            </li>
                            <li>
                                <a href="#">
                                    <i class="fa-regular fa-heart"></i>
                                </a>
                            </li>
                            <li>
                                <a href="#">
                                    <i class="fa-solid fa-bag-shopping"></i>
                                </a>
                            </li>
                        </ul>
                    </div>
                    <div class="product__item__text">
                        <h6><a href="/Home/ProductDetails">Buttons tweed blazer</a></h6>
                        <div class="rating">
                            <i class="fa-solid fa-star"></i>
                            <i class="fa-solid fa-star"></i>
                            <i class="fa-solid fa-star"></i>
                            <i class="fa-solid fa-star"></i>
                            <i class="fa-solid fa-star"></i>
                        </div>
                        <div class="product__price">$ 59.0</div>
                    </div>
                </div>
            </div>
            <!-- <div class="col-lg-3 col-md-4 col-sm-6 mix men">
                <div class="product__item">
                    <div class="product__item__pic set-bg" data-setbg="/img/shop/shop-111.jpg">
                        <ul class="product__hover">
                            <li>
                                <a href="/Home/ProductDetails">
                                    <i class="fa-solid fa-eye"></i>
                                </a>
                            </li>
                            <li>
                                <a href="#">
                                    <i class="fa-regular fa-heart"></i>
                                </a>
                            </li>
                            <li>
                                <a href="#">
                                    <i class="fa-solid fa-bag-shopping"></i>
                                </a>
                            </li>
                        </ul>
                    </div>
                    <div class="product__item__text">
                        <h6><a href="/Home/ProductDetails">Flowy striped skirt</a></h6>
                        <div class="rating">
                            <i class="fa-solid fa-star"></i>
                            <i class="fa-solid fa-star"></i>
                            <i class="fa-solid fa-star"></i>
                            <i class="fa-solid fa-star"></i>
                            <i class="fa-solid fa-star"></i>
                        </div>
                        <div class="product__price">$ 49.0</div>
                    </div>
                </div>
            </div> -->
            <div class="col-lg-3 col-md-4 col-sm-6 mix men">
                <div class="product__item">
                    <div class="product__item__pic set-bg" data-setbg="/img/shop/shop-444.jpg">
                        <ul class="product__hover">
                            <li>
                                <a href="/Home/ProductDetails">
                                    <i class="fa-solid fa-eye"></i>
                                </a>
                            </li>
                            <li>
                                <a href="#">
                                    <i class="fa-regular fa-heart"></i>
                                </a>
                            </li>
                            <li>
                                <a href="#">
                                    <i class="fa-solid fa-bag-shopping"></i>
                                </a>
                            </li>
                        </ul>
                    </div>
                    <div class="product__item__text">
                        <h6><a href="/Home/ProductDetails">Flowy striped skirt</a></h6>
                        <div class="rating">
                            <i class="fa-solid fa-star"></i>
                            <i class="fa-solid fa-star"></i>
                            <i class="fa-solid fa-star"></i>
                            <i class="fa-solid fa-star"></i>
                            <i class="fa-solid fa-star"></i>
                        </div>
                        <div class="product__price">$ 49.0</div>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-4 col-sm-6 mix men">
                <div class="product__item">
                    <div class="product__item__pic set-bg" data-setbg="/img/shop/shop-333.jpg">
                        <ul class="product__hover">
                            <li>
                                <a href="/Home/ProductDetails">
                                    <i class="fa-solid fa-eye"></i>
                                </a>
                            </li>
                            <li>
                                <a href="#">
                                    <i class="fa-regular fa-heart"></i>
                                </a>
                            </li>
                            <li>
                                <a href="#">
                                    <i class="fa-solid fa-bag-shopping"></i>
                                </a>
                            </li>
                        </ul>
                    </div>
                    <div class="product__item__text">
                        <h6><a href="/Home/ProductDetails">Flowy striped skirt</a></h6>
                        <div class="rating">
                            <i class="fa-solid fa-star"></i>
                            <i class="fa-solid fa-star"></i>
                            <i class="fa-solid fa-star"></i>
                            <i class="fa-solid fa-star"></i>
                            <i class="fa-solid fa-star"></i>
                        </div>
                        <div class="product__price">$ 49.0</div>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-4 col-sm-6 mix men">
                <div class="product__item">
                    <div class="product__item__pic set-bg" data-setbg="/img/shop/shop-222.jpg">
                        <ul class="product__hover">
                            <li>
                                <a href="/Home/ProductDetails">
                                    <i class="fa-solid fa-eye"></i>
                                </a>
                            </li>
                            <li>
                                <a href="#">
                                    <i class="fa-regular fa-heart"></i>
                                </a>
                            </li>
                            <li>
                                <a href="#">
                                    <i class="fa-solid fa-bag-shopping"></i>
                                </a>
                            </li>
                        </ul>
                    </div>
                    <div class="product__item__text">
                        <h6><a href="/Home/ProductDetails">Flowy striped skirt</a></h6>
                        <div class="rating">
                            <i class="fa-solid fa-star"></i>
                            <i class="fa-solid fa-star"></i>
                            <i class="fa-solid fa-star"></i>
                            <i class="fa-solid fa-star"></i>
                            <i class="fa-solid fa-star"></i>
                        </div>
                        <div class="product__price">$ 49.0</div>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-4 col-sm-6 mix men">
                <div class="product__item">
                    <div class="product__item__pic set-bg" data-setbg="/img/shop/shop-555.jpg">
                        <ul class="product__hover">
                            <li>
                                <a href="/Home/ProductDetails">
                                    <i class="fa-solid fa-eye"></i>
                                </a>
                            </li>
                            <li>
                                <a href="#">
                                    <i class="fa-regular fa-heart"></i>
                                </a>
                            </li>
                            <li>
                                <a href="#">
                                    <i class="fa-solid fa-bag-shopping"></i>
                                </a>
                            </li>
                        </ul>
                    </div>
                    <div class="product__item__text">
                        <h6><a href="/Home/ProductDetails">Flowy striped skirt</a></h6>
                        <div class="rating">
                            <i class="fa-solid fa-star"></i>
                            <i class="fa-solid fa-star"></i>
                            <i class="fa-solid fa-star"></i>
                            <i class="fa-solid fa-star"></i>
                            <i class="fa-solid fa-star"></i>
                        </div>
                        <div class="product__price">$ 49.0</div>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-4 col-sm-6 mix men">
                <div class="product__item">
                    <div class="product__item__pic set-bg" data-setbg="/img/shop/shop-666.jpg">
                        <ul class="product__hover">
                            <li>
                                <a href="/Home/ProductDetails">
                                    <i class="fa-solid fa-eye"></i>
                                </a>
                            </li>
                            <li>
                                <a href="#">
                                    <i class="fa-regular fa-heart"></i>
                                </a>
                            </li>
                            <li>
                                <a href="#">
                                    <i class="fa-solid fa-bag-shopping"></i>
                                </a>
                            </li>
                        </ul>
                    </div>
                    <div class="product__item__text">
                        <h6><a href="/Home/ProductDetails">Flowy striped skirt</a></h6>
                        <div class="rating">
                            <i class="fa-solid fa-star"></i>
                            <i class="fa-solid fa-star"></i>
                            <i class="fa-solid fa-star"></i>
                            <i class="fa-solid fa-star"></i>
                            <i class="fa-solid fa-star"></i>
                        </div>
                        <div class="product__price">$ 49.0</div>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-4 col-sm-6 mix men">
                <div class="product__item">
                    <div class="product__item__pic set-bg" data-setbg="/img/shop/shop-777.jpg">
                        <ul class="product__hover">
                            <li>
                                <a href="/Home/ProductDetails">
                                    <i class="fa-solid fa-eye"></i>
                                </a>
                            </li>
                            <li>
                                <a href="#">
                                    <i class="fa-regular fa-heart"></i>
                                </a>
                            </li>
                            <li>
                                <a href="#">
                                    <i class="fa-solid fa-bag-shopping"></i>
                                </a>
                            </li>
                        </ul>
                    </div>
                    <div class="product__item__text">
                        <h6><a href="/Home/ProductDetails">Flowy striped skirt</a></h6>
                        <div class="rating">
                            <i class="fa-solid fa-star"></i>
                            <i class="fa-solid fa-star"></i>
                            <i class="fa-solid fa-star"></i>
                            <i class="fa-solid fa-star"></i>
                            <i class="fa-solid fa-star"></i>
                        </div>
                        <div class="product__price">$ 49.0</div>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-4 col-sm-6 mix men">
                <div class="product__item">
                    <div class="product__item__pic set-bg" data-setbg="/img/shop/shop-111.jpg">
                        <ul class="product__hover">
                            <li>
                                <a href="/Home/ProductDetails">
                                    <i class="fa-solid fa-eye"></i>
                                </a>
                            </li>
                            <li>
                                <a href="#">
                                    <i class="fa-regular fa-heart"></i>
                                </a>
                            </li>
                            <li>
                                <a href="#">
                                    <i class="fa-solid fa-bag-shopping"></i>
                                </a>
                            </li>
                        </ul>
                    </div>
                    <div class="product__item__text">
                        <h6><a href="/Home/ProductDetails">Flowy striped skirt</a></h6>
                        <div class="rating">
                            <i class="fa-solid fa-star"></i>
                            <i class="fa-solid fa-star"></i>
                            <i class="fa-solid fa-star"></i>
                            <i class="fa-solid fa-star"></i>
                            <i class="fa-solid fa-star"></i>
                        </div>
                        <div class="product__price">$ 49.0</div>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-4 col-sm-6 mix men">
                <div class="product__item">
                    <div class="product__item__pic set-bg" data-setbg="/img/shop/shop-888.jpg">
                        <ul class="product__hover">
                            <li>
                                <a href="/Home/ProductDetails">
                                    <i class="fa-solid fa-eye"></i>
                                </a>
                            </li>
                            <li>
                                <a href="#">
                                    <i class="fa-regular fa-heart"></i>
                                </a>
                            </li>
                            <li>
                                <a href="#">
                                    <i class="fa-solid fa-bag-shopping"></i>
                                </a>
                            </li>
                        </ul>
                    </div>
                    <div class="product__item__text">
                        <h6><a href="/Home/ProductDetails">Flowy striped skirt</a></h6>
                        <div class="rating">
                            <i class="fa-solid fa-star"></i>
                            <i class="fa-solid fa-star"></i>
                            <i class="fa-solid fa-star"></i>
                            <i class="fa-solid fa-star"></i>
                            <i class="fa-solid fa-star"></i>
                        </div>
                        <div class="product__price">$ 49.0</div>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-4 col-sm-6 mix men">
                <div class="product__item">
                    <div class="product__item__pic set-bg" data-setbg="/img/shop/shop-999.jpg">
                        <ul class="product__hover">
                            <li>
                                <a href="/Home/ProductDetails">
                                    <i class="fa-solid fa-eye"></i>
                                </a>
                            </li>
                            <li>
                                <a href="#">
                                    <i class="fa-regular fa-heart"></i>
                                </a>
                            </li>
                            <li>
                                <a href="#">
                                    <i class="fa-solid fa-bag-shopping"></i>
                                </a>
                            </li>
                        </ul>
                    </div>
                    <div class="product__item__text">
                        <h6><a href="/Home/ProductDetails">Flowy striped skirt</a></h6>
                        <div class="rating">
                            <i class="fa-solid fa-star"></i>
                            <i class="fa-solid fa-star"></i>
                            <i class="fa-solid fa-star"></i>
                            <i class="fa-solid fa-star"></i>
                            <i class="fa-solid fa-star"></i>
                        </div>
                        <div class="product__price">$ 49.0</div>
                    </div>
                </div>
            </div>
            <!-- <div class="col-lg-3 col-md-4 col-sm-6 mix accessories">
                <div class="product__item">
                    <div class="product__item__pic set-bg" data-setbg="/img/product/product-3.jpg">
                        <div class="label stockout">out of stock</div>
                        <ul class="product__hover">
                            <li><a href="/Home/ProductDetails"><i class="fa-solid fa-eye"></i></a></li>
                            <li><a href="#"><span class="icon_heart_alt"></span></a></li>
                            <li><a href="#"><span class="icon_bag_alt"></span></a></li>
                            <li>
                                <a href="/Home/ProductDetails">
                                    <i class="fa-solid fa-eye"></i>
                                </a>
                            </li>
                            <li>
                                <a href="#">
                                    <i class="fa-regular fa-heart"></i>
                                </a>
                            </li>
                            <li>
                                <a href="#">
                                    <i class="fa-solid fa-bag-shopping"></i>
                                </a>
                            </li>
                        </ul>
                    </div>
                    <div class="product__item__text">
                        <h6><a href="/Home/ProductDetails">Cotton T-Shirt</a></h6>
                        <div class="rating">
                            <i class="fa-solid fa-star"></i>
                            <i class="fa-solid fa-star"></i>
                            <i class="fa-solid fa-star"></i>
                            <i class="fa-solid fa-star"></i>
                            <i class="fa-solid fa-star"></i>
                        </div>
                        <div class="product__price">$ 59.0</div>
                    </div>
                </div>
            </div> -->
            <!-- <div class="col-lg-3 col-md-4 col-sm-6 mix cosmetic">
                <div class="product__item">
                    <div class="product__item__pic set-bg" data-setbg="/img/product/product-4.jpg">
                        <ul class="product__hover">
                            <li>
                                <a href="/Home/ProductDetails">
                                    <i class="fa-solid fa-eye"></i>
                                </a>
                            </li>
                            <li>
                                <a href="#">
                                    <i class="fa-regular fa-heart"></i>
                                </a>
                            </li>
                            <li>
                                <a href="#">
                                    <i class="fa-solid fa-bag-shopping"></i>
                                </a>
                            </li>
                        </ul>
                    </div>
                    <div class="product__item__text">
                        <h6><a href="/Home/ProductDetails">Slim striped pocket shirt</a></h6>
                        <div class="rating">
                            <i class="fa-solid fa-star"></i>
                            <i class="fa-solid fa-star"></i>
                            <i class="fa-solid fa-star"></i>
                            <i class="fa-solid fa-star"></i>
                            <i class="fa-solid fa-star"></i>
                        </div>
                        <div class="product__price">$ 59.0</div>
                    </div>
                </div>
            </div> -->
            <div class="col-lg-3 col-md-4 col-sm-6 mix kid">
                <div class="product__item">
                    <div class="product__item__pic set-bg" data-setbg="/img/shop/shop-11.jpg">
                        <ul class="product__hover">
                            <li>
                                <a href="/Home/ProductDetails">
                                    <i class="fa-solid fa-eye"></i>
                                </a>
                            </li>
                            <li>
                                <a href="#">
                                    <i class="fa-regular fa-heart"></i>
                                </a>
                            </li>
                            <li>
                                <a href="#">
                                    <i class="fa-solid fa-bag-shopping"></i>
                                </a>
                            </li>
                        </ul>
                    </div>
                    <div class="product__item__text">
                        <h6><a href="/Home/ProductDetails">Closed Capicho Sweatshirt – Milton Fabric</a></h6>
                        <div class="rating">
                            <i class="fa-solid fa-star"></i>
                            <i class="fa-solid fa-star"></i>
                            <i class="fa-solid fa-star"></i>
                            <i class="fa-solid fa-star"></i>
                            <i class="fa-solid fa-star"></i>
                        </div>
                        <div class="product__price">699 EGP</div>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-4 col-sm-6 mix kid">
                <div class="product__item">
                    <div class="product__item__pic set-bg" data-setbg="/img/shop/shop-22.jpg">
                        <ul class="product__hover">
                            <li>
                                <a href="/Home/ProductDetails">
                                    <i class="fa-solid fa-eye"></i>
                                </a>
                            </li>
                            <li>
                                <a href="#">
                                    <i class="fa-regular fa-heart"></i>
                                </a>
                            </li>
                            <li>
                                <a href="#">
                                    <i class="fa-solid fa-bag-shopping"></i>
                                </a>
                            </li>
                        </ul>
                    </div>
                    <div class="product__item__text">
                        <h6><a href="/Home/ProductDetails">SWT/26706</a></h6>
                        <div class="rating">
                            <i class="fa-solid fa-star"></i>
                            <i class="fa-solid fa-star"></i>
                            <i class="fa-solid fa-star"></i>
                            <i class="fa-solid fa-star"></i>
                            <i class="fa-solid fa-star"></i>
                        </div>
                        <div class="product__price">699 EGP</div>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-4 col-sm-6 mix kid">
                <div class="product__item">
                    <div class="product__item__pic set-bg" data-setbg="/img/shop/shop-33.jpg">
                        <ul class="product__hover">
                            <li>
                                <a href="/Home/ProductDetails">
                                    <i class="fa-solid fa-eye"></i>
                                </a>
                            </li>
                            <li>
                                <a href="#">
                                    <i class="fa-regular fa-heart"></i>
                                </a>
                            </li>
                            <li>
                                <a href="#">
                                    <i class="fa-solid fa-bag-shopping"></i>
                                </a>
                            </li>
                        </ul>
                    </div>
                    <div class="product__item__text">
                        <h6><a href="/Home/ProductDetails">SWT/26804</a></h6>
                        <div class="rating">
                            <i class="fa-solid fa-star"></i>
                            <i class="fa-solid fa-star"></i>
                            <i class="fa-solid fa-star"></i>
                            <i class="fa-solid fa-star"></i>
                            <i class="fa-solid fa-star"></i>
                        </div>
                        <div class="product__price">699 EGP</div>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-4 col-sm-6 mix kid">
                <div class="product__item">
                    <div class="product__item__pic set-bg" data-setbg="/img/shop/shop-44.jpg">
                        <ul class="product__hover">
                            <li>
                                <a href="/Home/ProductDetails">
                                    <i class="fa-solid fa-eye"></i>
                                </a>
                            </li>
                            <li>
                                <a href="#">
                                    <i class="fa-regular fa-heart"></i>
                                </a>
                            </li>
                            <li>
                                <a href="#">
                                    <i class="fa-solid fa-bag-shopping"></i>
                                </a>
                            </li>
                        </ul>
                    </div>
                    <div class="product__item__text">
                        <h6><a href="/Home/ProductDetails">JAK/26609</a></h6>
                        <div class="rating">
                            <i class="fa-solid fa-star"></i>
                            <i class="fa-solid fa-star"></i>
                            <i class="fa-solid fa-star"></i>
                            <i class="fa-solid fa-star"></i>
                            <i class="fa-solid fa-star"></i>
                        </div>
                        <div class="product__price">1299 EGP</div>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-4 col-sm-6 mix kid">
                <div class="product__item">
                    <div class="product__item__pic set-bg" data-setbg="/img/shop/shop-55.jpg">
                        <ul class="product__hover">
                            <li>
                                <a href="/Home/ProductDetails">
                                    <i class="fa-solid fa-eye"></i>
                                </a>
                            </li>
                            <li>
                                <a href="#">
                                    <i class="fa-regular fa-heart"></i>
                                </a>
                            </li>
                            <li>
                                <a href="#">
                                    <i class="fa-solid fa-bag-shopping"></i>
                                </a>
                            </li>
                        </ul>
                    </div>
                    <div class="product__item__text">
                        <h6><a href="/Home/ProductDetails">Capicho Closed Sweatshirt – Milton Fabric</a></h6>
                        <div class="rating">
                            <i class="fa-solid fa-star"></i>
                            <i class="fa-solid fa-star"></i>
                            <i class="fa-solid fa-star"></i>
                            <i class="fa-solid fa-star"></i>
                            <i class="fa-solid fa-star"></i>
                        </div>
                        <div class="product__price">699 EGP</div>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-4 col-sm-6 mix kid">
                <div class="product__item">
                    <div class="product__item__pic set-bg" data-setbg="/img/shop/shop-66.jpg">
                        <ul class="product__hover">
                            <li>
                                <a href="/Home/ProductDetails">
                                    <i class="fa-solid fa-eye"></i>
                                </a>
                            </li>
                            <li>
                                <a href="#">
                                    <i class="fa-regular fa-heart"></i>
                                </a>
                            </li>
                            <li>
                                <a href="#">
                                    <i class="fa-solid fa-bag-shopping"></i>
                                </a>
                            </li>
                        </ul>
                    </div>
                    <div class="product__item__text">
                        <h6><a href="/Home/ProductDetails">Closed Capicho Sweatshirt – Milton Fabric</a></h6>
                        <div class="rating">
                            <i class="fa-solid fa-star"></i>
                            <i class="fa-solid fa-star"></i>
                            <i class="fa-solid fa-star"></i>
                            <i class="fa-solid fa-star"></i>
                            <i class="fa-solid fa-star"></i>
                        </div>
                        <div class="product__price">699 EGP</div>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-4 col-sm-6 mix kid">
                <div class="product__item">
                    <div class="product__item__pic set-bg" data-setbg="/img/shop/shop-77.jpg">
                        <ul class="product__hover">
                            <li>
                                <a href="/Home/ProductDetails">
                                    <i class="fa-solid fa-eye"></i>
                                </a>
                            </li>
                            <li>
                                <a href="#">
                                    <i class="fa-regular fa-heart"></i>
                                </a>
                            </li>
                            <li>
                                <a href="#">
                                    <i class="fa-solid fa-bag-shopping"></i>
                                </a>
                            </li>
                        </ul>
                    </div>
                    <div class="product__item__text">
                        <h6><a href="/Home/ProductDetails">Closed Capicho Sweatshirt – Milton Fabric</a></h6>
                        <div class="rating">
                            <i class="fa-solid fa-star"></i>
                            <i class="fa-solid fa-star"></i>
                            <i class="fa-solid fa-star"></i>
                            <i class="fa-solid fa-star"></i>
                            <i class="fa-solid fa-star"></i>
                        </div>
                        <div class="product__price">699 EGP</div>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-4 col-sm-6 mix kid">
                <div class="product__item">
                    <div class="product__item__pic set-bg" data-setbg="/img/shop/shop-88.jpg">
                        <ul class="product__hover">
                            <li>
                                <a href="/Home/ProductDetails">
                                    <i class="fa-solid fa-eye"></i>
                                </a>
                            </li>
                            <li>
                                <a href="#">
                                    <i class="fa-regular fa-heart"></i>
                                </a>
                            </li>
                            <li>
                                <a href="#">
                                    <i class="fa-solid fa-bag-shopping"></i>
                                </a>
                            </li>
                        </ul>
                    </div>
                    <div class="product__item__text">
                        <h6><a href="/Home/ProductDetails">W-Zipper Capicho Sweatshirt – Milton Fabric</a></h6>
                        <div class="rating">
                            <i class="fa-solid fa-star"></i>
                            <i class="fa-solid fa-star"></i>
                            <i class="fa-solid fa-star"></i>
                            <i class="fa-solid fa-star"></i>
                            <i class="fa-solid fa-star"></i>
                        </div>
                        <div class="product__price">699 EGP</div>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-4 col-sm-6 mix kid">
                <div class="product__item">
                    <div class="product__item__pic set-bg" data-setbg="/img/shop/shop-99.jpg">
                        <ul class="product__hover">
                            <li>
                                <a href="/Home/ProductDetails">
                                    <i class="fa-solid fa-eye"></i>
                                </a>
                            </li>
                            <li>
                                <a href="#">
                                    <i class="fa-regular fa-heart"></i>
                                </a>
                            </li>
                            <li>
                                <a href="#">
                                    <i class="fa-solid fa-bag-shopping"></i>
                                </a>
                            </li>
                        </ul>
                    </div>
                    <div class="product__item__text">
                        <h6><a href="/Home/ProductDetails">JAK/26609</a></h6>
                        <div class="rating">
                            <i class="fa-solid fa-star"></i>
                            <i class="fa-solid fa-star"></i>
                            <i class="fa-solid fa-star"></i>
                            <i class="fa-solid fa-star"></i>
                            <i class="fa-solid fa-star"></i>
                        </div>
                        <div class="product__price">1599 EGP</div>
                    </div>
                </div>
            </div>
            <!-- <div class="col-lg-3 col-md-4 col-sm-6 mix women men kid accessories cosmetic">
                <div class="product__item sale">
                    <div class="product__item__pic set-bg" data-setbg="/img/product/product-6.jpg">
                        <div class="label sale">Sale</div>
                        <ul class="product__hover">
                            <li>
                                <a href="/Home/ProductDetails">
                                    <i class="fa-solid fa-eye"></i>
                                </a>
                            </li>
                            <li>
                                <a href="#">
                                    <i class="fa-regular fa-heart"></i>
                                </a>
                            </li>
                            <li>
                                <a href="#">
                                    <i class="fa-solid fa-bag-shopping"></i>
                                </a>
                            </li>
                        </ul>
                    </div>
                    <div class="product__item__text">
                        <h6><a href="/Home/ProductDetails">Tropical Kimono</a></h6>
                        <div class="rating">
                            <i class="fa-solid fa-star"></i>
                            <i class="fa-solid fa-star"></i>
                            <i class="fa-solid fa-star"></i>
                            <i class="fa-solid fa-star"></i>
                            <i class="fa-solid fa-star"></i>
                        </div>
                        <div class="product__price">$ 49.0 <span>$ 59.0</span></div>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-4 col-sm-6 mix women men kid accessories cosmetic">
                <div class="product__item">
                    <div class="product__item__pic set-bg" data-setbg="/img/product/product-7.jpg">
                        <ul class="product__hover">
                            <li>
                                <a href="/Home/ProductDetails">
                                    <i class="fa-solid fa-eye"></i>
                                </a>
                            </li>
                            <li>
                                <a href="#">
                                    <i class="fa-regular fa-heart"></i>
                                </a>
                            </li>
                            <li>
                                <a href="#">
                                    <i class="fa-solid fa-bag-shopping"></i>
                                </a>
                            </li>
                        </ul>
                    </div>
                    <div class="product__item__text">
                        <h6><a href="/Home/ProductDetails">Contrasting sunglasses</a></h6>
                        <div class="rating">
                            <i class="fa-solid fa-star"></i>
                            <i class="fa-solid fa-star"></i>
                            <i class="fa-solid fa-star"></i>
                            <i class="fa-solid fa-star"></i>
                            <i class="fa-solid fa-star"></i>
                        </div>
                        <div class="product__price">$ 59.0</div>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-4 col-sm-6 mix women men kid accessories cosmetic">
                <div class="product__item sale">
                    <div class="product__item__pic set-bg" data-setbg="/img/product/product-8.jpg">
                        <div class="label">Sale</div>
                        <ul class="product__hover">
                            <li>
                                <a href="/Home/ProductDetails">
                                    <i class="fa-solid fa-eye"></i>
                                </a>
                            </li>
                            <li>
                                <a href="#">
                                    <i class="fa-regular fa-heart"></i>
                                </a>
                            </li>
                            <li>
                                <a href="#">
                                    <i class="fa-solid fa-bag-shopping"></i>
                                </a>
                            </li>
                        </ul>
                    </div>
                    <div class="product__item__text">
                        <h6><a href="/Home/ProductDetails">Water resistant backpack</a></h6>
                        <div class="rating">
                            <i class="fa-solid fa-star"></i>
                            <i class="fa-solid fa-star"></i>
                            <i class="fa-solid fa-star"></i>
                            <i class="fa-solid fa-star"></i>
                            <i class="fa-solid fa-star"></i>
                        </div>
                        <div class="product__price">$ 49.0 <span>$ 59.0</span></div>
                    </div>
                </div>
            </div> -->
        </div>
    </div>
</section>
<!-- Product Section End -->

<!-- Banner Section Begin -->
<section class="banner set-bg" data-setbg="/img/banner/banner-1.jpg">
    <div class="container">
        <div class="row">
            <div class="col-xl-7 col-lg-8 m-auto">
                <div class="banner__slider">
                    <div class="banner__item">
                        <div class="banner__text">
                            <span>The Chloe Collection</span>
                            <h1>The Project Jacket</h1>
                            <a href="#">Shop now</a>
                        </div>
                    </div>
                    <div class="banner__item">
                        <div class="banner__text">
                            <span>Summer Essentials</span>
                            <h1>Linen Breeze Dress</h1>
                            <a href="#">Explore</a>
                        </div>
                    </div>
                    <div class="banner__item">
                        <div class="banner__text">
                            <span>New Arrivals</span>
                            <h1>Urban Street Style</h1>
                            <a href="#">Discover</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- Banner Section End -->

<!-- Trend Section Begin -->
<section class="trend spad">
    <div class="container">
        <div class="row">
            <div class="col-lg-4 col-md-4 col-sm-6">
                <div class="trend__content">
                    <div class="section-title">
                        <h4>Hot Trend</h4>
                    </div>
                    <div class="trend__item">
                        <div class="trend__item__pic">
                            <img src="/img/trend/ht-1.jpg" alt="" loading="lazy" decoding="async">
                        </div>
                        <div class="trend__item__text">
                            <h6>Chain bucket bag</h6>
                            <div class="rating">
                                <i class="fa-solid fa-star"></i>
                                <i class="fa-solid fa-star"></i>
                                <i class="fa-solid fa-star"></i>
                                <i class="fa-solid fa-star"></i>
                                <i class="fa-solid fa-star"></i>
                            </div>
                            <div class="product__price">59.0 EGP</div>
                        </div>
                    </div>
                    <div class="trend__item">
                        <div class="trend__item__pic">
                            <img src="/img/trend/ht-2.jpg" alt="" loading="lazy" decoding="async">
                        </div>
                        <div class="trend__item__text">
                            <h6>JAK/26609</h6>
                            <div class="rating">
                                <i class="fa-solid fa-star"></i>
                                <i class="fa-solid fa-star"></i>
                                <i class="fa-solid fa-star"></i>
                                <i class="fa-solid fa-star"></i>
                                <i class="fa-solid fa-star"></i>
                            </div>
                            <div class="product__price">59.0 EGP</div>
                        </div>
                    </div>
                    <div class="trend__item">
                        <div class="trend__item__pic">
                            <img src="/img/trend/ht-3.jpg" alt="" loading="lazy" decoding="async">
                        </div>
                        <div class="trend__item__text">
                            <h6>Cotton T-Shirt</h6>
                            <div class="rating">
                                <i class="fa-solid fa-star"></i>
                                <i class="fa-solid fa-star"></i>
                                <i class="fa-solid fa-star"></i>
                                <i class="fa-solid fa-star"></i>
                                <i class="fa-solid fa-star"></i>
                            </div>
                            <div class="product__price">59.0 EGP</div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-4 col-sm-6">
                <div class="trend__content">
                    <div class="section-title">
                        <h4>Best seller</h4>
                    </div>
                    <div class="trend__item">
                        <div class="trend__item__pic">
                            <img src="/img/trend/bs-1.jpg" alt="" loading="lazy" decoding="async">
                        </div>
                        <div class="trend__item__text">
                            <h6>Cotton T-Shirt</h6>
                            <div class="rating">
                                <i class="fa-solid fa-star"></i>
                                <i class="fa-solid fa-star"></i>
                                <i class="fa-solid fa-star"></i>
                                <i class="fa-solid fa-star"></i>
                                <i class="fa-solid fa-star"></i>
                            </div>
                            <div class="product__price">59.0 EGP</div>
                        </div>
                    </div>
                    <div class="trend__item">
                        <div class="trend__item__pic">
                            <img src="/img/trend/bs-2.jpg" alt="" loading="lazy" decoding="async">
                        </div>
                        <div class="trend__item__text">
                            <h6>Zip-pockets pebbled tote <br />briefcase</h6>
                            <div class="rating">
                                <i class="fa-solid fa-star"></i>
                                <i class="fa-solid fa-star"></i>
                                <i class="fa-solid fa-star"></i>
                                <i class="fa-solid fa-star"></i>
                                <i class="fa-solid fa-star"></i>
                            </div>
                            <div class="product__price">59.0 EGP</div>
                        </div>
                    </div>
                    <div class="trend__item">
                        <div class="trend__item__pic">
                            <img src="/img/trend/bs-3.jpg" alt="" loading="lazy" decoding="async">
                        </div>
                        <div class="trend__item__text">
                            <h6>Round leather bag</h6>
                            <div class="rating">
                                <i class="fa-solid fa-star"></i>
                                <i class="fa-solid fa-star"></i>
                                <i class="fa-solid fa-star"></i>
                                <i class="fa-solid fa-star"></i>
                                <i class="fa-solid fa-star"></i>
                            </div>
                            <div class="product__price">59.0 EGP</div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-4 col-sm-6">
                <div class="trend__content">
                    <div class="section-title">
                        <h4>Feature</h4>
                    </div>
                    <div class="trend__item">
                        <div class="trend__item__pic">
                            <img src="/img/trend/f-1.jpg" alt="" loading="lazy" decoding="async">
                        </div>
                        <div class="trend__item__text">
                            <h6>Bow wrap skirt</h6>
                            <div class="rating">
                                <i class="fa-solid fa-star"></i>
                                <i class="fa-solid fa-star"></i>
                                <i class="fa-solid fa-star"></i>
                                <i class="fa-solid fa-star"></i>
                                <i class="fa-solid fa-star"></i>
                            </div>
                            <div class="product__price">59.0 EGP</div>
                        </div>
                    </div>
                    <div class="trend__item">
                        <div class="trend__item__pic">
                            <img src="/img/trend/f-2.jpg" alt="" loading="lazy" decoding="async">
                        </div>
                        <div class="trend__item__text">
                            <h6>Closed Capicho Sweatshirt – Milton Fabric</h6>
                            <div class="rating">
                                <i class="fa-solid fa-star"></i>
                                <i class="fa-solid fa-star"></i>
                                <i class="fa-solid fa-star"></i>
                                <i class="fa-solid fa-star"></i>
                                <i class="fa-solid fa-star"></i>
                            </div>
                            <div class="product__price">59.0 EGP</div>
                        </div>
                    </div>
                    <div class="trend__item">
                        <div class="trend__item__pic">
                            <img src="/img/trend/f-3.jpg" alt="" loading="lazy" decoding="async">
                        </div>
                        <div class="trend__item__text">
                            <h6>Flap cross-body bag</h6>
                            <div class="rating">
                                <i class="fa-solid fa-star"></i>
                                <i class="fa-solid fa-star"></i>
                                <i class="fa-solid fa-star"></i>
                                <i class="fa-solid fa-star"></i>
                                <i class="fa-solid fa-star"></i>
                            </div>
                            <div class="product__price">59.0 EGP</div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- Trend Section End -->

<!-- Discount Section Begin -->
<section class="discount">
    <div class="container">
        <div class="row">
            <div class="col-lg-6 p-0">
                <div class="discount__pic">
                    <img src="/img/discount.jpg" alt="" loading="lazy" decoding="async">
                </div>
            </div>
            <div class="col-lg-6 p-0">
                <div class="discount__text">
                    <div class="discount__text__title">
                        <span>Discount</span>
                        <h2>Summer 2030</h2>
                        <h5><span>Sale</span> 50%</h5>
                    </div>
                    <!-- <div class="discount__countdown" id="countdown-time">
                        <div class="countdown__item">
                            <span>22</span>
                            <p>Days</p>
                        </div>
                        <div class="countdown__item">
                            <span>18</span>
                            <p>Hour</p>
                        </div>
                        <div class="countdown__item">
                            <span>46</span>
                            <p>Min</p>
                        </div>
                        <div class="countdown__item">
                            <span>05</span>
                            <p>Sec</p>
                        </div>
                    </div> -->
                    <a href="#">Shop now</a>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- Discount Section End -->

<!-- Services Section Begin -->
<section class="services spad">
    <div class="container">
        <div class="row">
            <div class="col-lg-3 col-md-4 col-sm-6">
                <div class="services__item">
                    <i class="fa-solid fa-truck"></i>
                    <h6>Free Shipping</h6>
                    <p>For all oder over $99</p>
                </div>
            </div>
            <div class="col-lg-3 col-md-4 col-sm-6">
                <div class="services__item">
                    <i class="fa-solid fa-money-bill"></i>
                    <h6>Money Back Guarantee</h6>
                    <p>If good have Problems</p>
                </div>
            </div>
            <div class="col-lg-3 col-md-4 col-sm-6">
                <div class="services__item">
                    <i class="fa-solid fa-headset"></i>
                    <h6>Online Support 24/7</h6>
                    <p>Dedicated support</p>
                </div>
            </div>
            <div class="col-lg-3 col-md-4 col-sm-6">
                <div class="services__item">
                    <i class="fa-solid fa-headphones"></i>
                    <h6>Payment Secure</h6>
                    <p>100% secure payment</p>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- Services Section End -->

<!-- Instagram Begin -->
<div class="instagram">
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-2 col-md-4 col-sm-4 p-0">
                <div class="instagram__item set-bg" data-setbg="/img/instagram/insta-1.jpg">
                    <div class="instagram__text">
                        <i class="fa-brands fa-instagram"></i>
                        <a href="#">@@ FsiOo_shop</a>
                    </div>
                </div>
            </div>
            <div class="col-lg-2 col-md-4 col-sm-4 p-0">
                <div class="instagram__item set-bg" data-setbg="/img/instagram/insta-2.jpg">
                    <div class="instagram__text">
                        <i class="fa-brands fa-instagram"></i>
                        <a href="#">@@ FsiOo_shop</a>
                    </div>
                </div>
            </div>
            <div class="col-lg-2 col-md-4 col-sm-4 p-0">
                <div class="instagram__item set-bg" data-setbg="/img/instagram/insta-3.jpg">
                    <div class="instagram__text">
                        <i class="fa-brands fa-instagram"></i>
                        <a href="#">@@ FsiOo_shop</a>
                    </div>
                </div>
            </div>
            <div class="col-lg-2 col-md-4 col-sm-4 p-0">
                <div class="instagram__item set-bg" data-setbg="/img/instagram/insta-4.jpg">
                    <div class="instagram__text">
                        <i class="fa-brands fa-instagram"></i>
                        <a href="#">@@ FsiOo_shop</a>
                    </div>
                </div>
            </div>
            <div class="col-lg-2 col-md-4 col-sm-4 p-0">
                <div class="instagram__item set-bg" data-setbg="/img/instagram/insta-5.jpg">
                    <div class="instagram__text">
                        <i class="fa-brands fa-instagram"></i>
                        <a href="#">@@ FsiOo_shop</a>
                    </div>
                </div>
            </div>
            <div class="col-lg-2 col-md-4 col-sm-4 p-0">
                <div class="instagram__item set-bg" data-setbg="/img/instagram/insta-6.jpg">
                    <div class="instagram__text">
                        <i class="fa-brands fa-instagram"></i>
                        <a href="#">@@ FsiOo_shop</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <button class="scroll-to-top" onclick="scrollToTop()">
        ↑
    </button>   
</div>
<!-- Instagram End -->

<!-- Footer Section Begin -->
<footer class="footer">
    <div class="container">
        <div class="row">
            <div class="col-lg-4 col-md-6 col-sm-7">
                <div class="footer__about">
                    <div class="footer__logo">
                        <a href="/Home/Index"><img src="/img/logo.png" alt="" loading="lazy" decoding="async"></a>
                    </div>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt
                    cilisis.</p>
                    <div class="footer__payment">
                        <a href="#" class="payment-icon" aria-label="Visa">
                            <i class="fa-brands fa-cc-visa"></i>
                        </a>
                        <a href="#" class="payment-icon" aria-label="Mastercard">
                            <i class="fa-brands fa-cc-mastercard"></i>
                        </a>
                        <a href="#" class="payment-icon" aria-label="Google Pay">
                            <i class="fa-brands fa-google-pay"></i>
                        </a>
                        <a href="#" class="payment-icon" aria-label="PayPal">
                            <i class="fa-brands fa-cc-paypal"></i>
                        </a>
                        <a href="#" class="payment-icon" aria-label="Apple Pay">
                            <i class="fa-brands fa-cc-apple-pay"></i>
                        </a>
                        <a href="#" class="payment-icon" aria-label="Stripe">
                            <i class="fa-brands fa-cc-stripe"></i>
                        </a>
                    </div>
                </div>
            </div>
            <div class="col-lg-2 col-md-3 col-sm-5">
                <div class="footer__widget">
                    <h6>Quick links</h6>
                    <ul>
                        <li><a href="#">About</a></li>
                        <li><a href="#">Blogs</a></li>
                        <li><a href="#">Contact</a></li>
                        <li><a href="#">FAQ</a></li>
                    </ul>
                </div>
            </div>
            <div class="col-lg-2 col-md-3 col-sm-4">
                <div class="footer__widget">
                    <h6>Account</h6>
                    <ul>
                        <li><a href="#">My Account</a></li>
                        <li><a href="#">Orders Tracking</a></li>
                        <li><a href="#">Checkout</a></li>
                        <li><a href="#">Wishlist</a></li>
                    </ul>
                </div>
            </div>
            <div class="col-lg-4 col-md-8 col-sm-8">
                <div class="footer__newslatter">
                    <h6 id="newsletter-heading">Newsletter</h6>
                    <form action="#" class="newsletter-form" aria-labelledby="newsletter-heading" novalidate>
                        <label for="newsletter-email" class="visually-hidden">Email address</label>
                        <input type="email" id="newsletter-email" name="email" placeholder="Enter your email" required aria-required="true" autocomplete="email">
                        <button type="submit" class="site-btn">Subscribe</button>
                    </form>
                    <div class="footer__social" role="list" aria-label="Social media links">
                        <a href="#" role="listitem" aria-label="Facebook"><i class="fa-brands fa-facebook" aria-hidden="true"></i></a>
                        <a href="#" role="listitem" aria-label="X (Twitter)"><i class="fa-brands fa-x-twitter" aria-hidden="true"></i></a>
                        <a href="#" role="listitem" aria-label="YouTube"><i class="fa-brands fa-youtube" aria-hidden="true"></i></a>
                        <a href="#" role="listitem" aria-label="Instagram"><i class="fa-brands fa-instagram" aria-hidden="true"></i></a>
                        <a href="#" role="listitem" aria-label="Pinterest"><i class="fa-brands fa-pinterest" aria-hidden="true"></i></a>
                    </div>
                </div>
            </div>
        </div>
        <!-- <div class="row">
            <div class="col-lg-12">
                Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0.
                <div class="footer__copyright__text">
                    <p>Copyright &copy; <script>document.write(new Date().getFullYear());</script> All rights reserved | This template is made with <i class="fa-solid fa-heart" aria-hidden="true"></i> by <a href="https://colorlib.com" target="_blank">Colorlib</a></p>
                </div>
                Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0.
            </div>
        </div> -->
    </div>
</footer>
<!-- Footer Section End -->

<!-- Search Begin -->
<div class="search-model" role="dialog" aria-modal="true" aria-label="Site search" id="search-modal" hidden>
    <div class="h-100 d-flex align-items-center justify-content-center">
        <button class="search-close-switch" type="button" aria-label="Close search">&times;</button>
        <form class="search-model-form" role="search" aria-label="Search products">
            <label for="search-input" class="visually-hidden">Search products</label>
            <input type="search" id="search-input" name="search" placeholder="Search products..." autocomplete="off" aria-describedby="search-hint">
            <span id="search-hint" class="visually-hidden">Type to search products, press Enter to submit</span>
        </form>
    </div>
</div>
<!-- Search End -->

<!-- Js Plugins -->
<script src="https://cdn.jsdelivr.net/npm/bootstrap@@5.3.8/dist/js/bootstrap.bundle.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/glightbox@@3.2.0/dist/js/glightbox.min.js"></script>
<script src="/js/main.js"></script>


<script defer src="https://static.cloudflareinsights.com/beacon.min.js/v67327c56f0bb4ef8b305cae61679db8f1769101564043" integrity="sha512-rdcWY47ByXd76cbCFzznIcEaCN71jqkWBBqlwhF1SY7KubdLKZiEGeP7AyieKZlGP9hbY/MhGrwXzJC/HulNyg==" data-cf-beacon='{"version":"2024.11.0","token":"cd0b4b3a733644fc843ef0b185f98241","server_timing":{"name":{"cfCacheStatus":true,"cfEdge":true,"cfExtPri":true,"cfL4":true,"cfOrigin":true,"cfSpeedBrain":true},"location_startswith":null}}' crossorigin="anonymous"></script>
</body>

</html>



